body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* HELPERS */
.container {
  width: 80%;
  margin: 0 auto;
}

.container-fluid {
  width: 97%;
  margin: 0 auto;
}

.main-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

/* NAVBAR */
.navbar {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #026aa7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .logo {
  /* border: 1px solid green; */
}

.navbar .logo h1 {
  margin: 20px 0;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  align-self: center;
  margin: 1em;
  color: #fff;
}

/* NAVBAR TWO*/
.navbar-two {
  margin: 0 20px;
  /* border: 2px solid red; */
}

/* HOME */
.top-section {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.top-section h1 {
  padding-right: 60px;
  font-size: 2.5em;
}

.top-section img {
  width: 50%;
  align-self: center;
}

/* HOME */

.home h4 {
  margin: 15px 0;
  text-align: right;
}

/* FORMS */

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 60px auto 20px;
}

.form div {
  margin: 1em;
  display: inline-block;
}

.form h2 {
  text-align: left;
}

.form label {
  text-align: left;
}

.form input {
  margin: 0.2em 0 2em;
  font-size: 1em;
  outline: none;
}

.form-btn {
  background: #f0c14b;
  border: 1px solid #444;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  color: #fff;
  color: #000;
  cursor: pointer;
  font-size: 1em;
  padding: 8px;
  width: 100%;
}

.form-btn:hover {
  background-color: #65878f;
}

.form select,
.form textarea {
  margin-bottom: 30px;
}

.required {
  color: rgb(241, 74, 8);
}

.google-btn {
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4285f6;
  font-size: 1em;
  padding: 0 45px;
  margin: 0 auto;
  width: 300px;
  height: 35px;
  color: #fff;
}

.google-btn i {
  font-size: 1.3em;
}

.google-btn:hover {
  background-color: #bbb;
  color: #4285f6;
}

/* SINGLE TRIP CARD */
.trips-cards-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* border: 1px solid red; */
  align-items: center;
}

.trip-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: lightyellow;
  width: 28%;
  height: 120px;
  margin: calc(8.5% / 6);
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
}

.trip-card h3,
.trip-card p {
  margin: 0;
}

.trip-card .fa-star {
  color: gold;
}

/* SINGLE TRIP NAVBAR */
.trip-navbar {
  border: 1px solid red;
}
